{% extends "core/base.html" %}
{% load static %}
{% load distro_tracker_extras %}
{% with team=object %}

{% block title %}{{ block.super }} - {{ team }}{% endblock %}

{% block extra-css %}
<link href="{% static 'css/dense.css' %}" rel="stylesheet" media="screen">
{% endblock %}


{% block page-header-right %}
    {% include 'accounts/user-widget.html' with logout_redirect=request.path %}

    {% if request.user.is_authenticated %}
      {% if request.user == team.owner %}
      {# Owner specific team options #}
      <form class="unstyled-form" action="{% url 'dtracker-team-delete' team.slug %}" method="GET">
      <button class="btn btn-danger" id="delete-team-button">Delete</button>
      </form>
      <a href="{% url 'dtracker-team-update' team.slug %}"><button class="btn btn-default" id="update-team-button">Update</button></a>
      <a href="{% url 'dtracker-team-manage' team.slug %}"><button class="btn btn-default" id="manage-team-button">Manage team</button></a>
      {% else %}
      {% if user_member_of_team %}
      {# Team member options #}
	  <a href="{% url 'dtracker-team-manage' team.slug %}"><button class="btn btn-default" id="manage-team-button">Manage team</button></a>
	  <form class="unstyled-form" action="{% url 'dtracker-team-leave' team.slug %}" method="POST">{% csrf_token %}
	  <button id="leave-team-button" class="btn btn-danger">Leave</button>
	  </form>
      {% endif %}
      {% endif %}
    {% endif %}
    {% if not user_member_of_team %}
      {# Public team options #}
	  {% if team.public %}
	      {% if request.user.emails.all|length == 1 %}
	      <form class="unstyled-form" action="{% url 'dtracker-team-join' team.slug %}" method="POST">{% csrf_token %}
	      <input type="hidden" name="email" value="{{ request.user.emails.all.0 }}">
	      <button id="join-team-button" class="btn btn-default">Join</button>
	      </form>
	      {% else %}
	      <a href="{% url 'dtracker-team-join' team.slug %}"><button id="join-team-button" class="btn btn-default">Join</button></a>
	      {% endif %}
	  {% else %}
	  <span>| </span><a title="Since the team is private, you need to contact the owner and ask to be included" href="mailto:{{ team.owner.main_email }}">Contact the owner</a>
	  {% endif %}
    {% endif %}
{% endblock %}

{% block page-content %}
<div class="container main">
  <h2 class="center">{{ team }}</h2>
  {% if team.description %}
  <div class="team-description center">
    <h6>{{ team.description }}</h6>
  </div>
  {% if team.url %}
  <div class="team-url center">
    <span class="">
      <b>URL:</b> <a href="{{ team.url }}">{{ team.url }}</a>
    </span>
  </div>
  {% endif %}
  {% endif %}
  {% if team.maintainer_email %}
  <div class="team-maintainer-email center">
    <span class="">
      <b>Maintainer email:</b> {{ team.maintainer_email }}
    </span>
  </div>
  {% endif %}
  <hr>

  {# A hidden modal which asks for confirmation before deleting the team. #}
  {% spaceless %}
  <div id="confirm-team-delete-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Are you sure you want to delete the team?</h3>
    </div>
    <div class="modal-body">
      <div>This action is final and permanent. Once the team is deleted it will not be possible to restore it.</div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" id="team-delete-cancel-button" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <form class="unstyled-form" action="{% url 'dtracker-team-delete' team.slug %}" method="POST">{% csrf_token %}
      <button class="btn btn-danger" id='confirm-team-delete-button' aria-hidden="true">Delete</button>
      </form>
    </div>
    </div>
    </div>
  </div>
  {% endspaceless %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 team-tables" id="dtracker-package-center">
        {% for table in tables %}
          {% with rows_length=table.rows|length %}
            {% if table.number_of_packages > rows_length %}
              {% include 'core/package-table.html' with table=table show_link=1 %}
            {% else %}
              {% include 'core/package-table.html' with table=table %}
            {% endif %}
          {% endwith %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% endwith %}
